<!-- <div>
  <h2>{{hero.name | uppercase}} Detalhes:</h2>
  <div><span>Id: </span>{{hero.id}}</div>
  <div><span>Nome: </span>{{hero.name}}</div>
</div>

<div>
  <h2>Edit:</h2>
  <label for="name">Nome do Herói: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<!-- <div>
  <h2>Meus Heróis</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected] = "hero === selectedHero"
    (click)="onClickHero(hero)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div> -->

<div>
  <h2>Meus Heróis</h2>
  <div class="add">
    <label for="new-hero">Novo Herói: </label>
    <input id="new-hero" #heroName placeholder="Nome" autocomplete="off"/>

    <button class="add-button" (click)="addHero(heroName.value); heroName.value=''">
      Adicionar Herói
    </button>
  </div>

  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detalhe/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>

      <button class="delete" (click)="deleteHero(hero)">X</button>
    </li>
  </ul>
</div>

<!-- <div>
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div> -->

<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero?.name | uppercase}} - Detalhes:</h2>
  <div><span>Id: </span>{{selectedHero?.id}}</div>
  <div>
    <label for="hero-name">Nome do Herói: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
  </div>
</div> -->

